###**KELOMPOK 7**
1.   Rizqi Maulidi (112109400000
2.   Lariesa Ananda Putri (11210940000006)
3. Della Wiyanti (11210940000014)
4. Heny Rosyidatun (11210940000016)
5. Nadya Rifqah

###**1. IMPORT DATA**
Meletakkan file data 'datadepok.csv' dengan diketik %pwd di syntax.

In [ ]:
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns, numpy as np

Keterangan Varabel:

Created_at: Tanggal dimana iklan rumah dibuat
LT : Luas Tanah properti yang ditawarkan\
LB : Luas Bangunan properti yang ditawarkan
KT : Jumlah Kamar Tidur properti yang ditawarkan\
KM : Jumlah Kamar Mandi properti yang ditawarkan\
Garasi : Jumlah Kapasitas Garasi di properti yang ditawarkan\
Carport : Kapasitas Carport di properti yang ditawarkan\
Lokasi : Detail lokasi properti yang ditawarkan\
Sertifikat: sertifikat Jenis properti yang ditawarkan\
Listrik : Daya listrik dari properti yang ditawarkan\
Hadap : Keterangan properti yang ditawarkan menghadap ke arah mana\
Harga : Harga property yang ditawarkan dalam Rupiah\
URL : Alamat tautan (link) properti yang ditawarkan.\
Deskripsi : Deskripsi properti iklan yang ditawarkan.\

In [ ]:
datadepok = pd.read_csv('depok.csv')
datadepok

,created_at,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,6-12-2021,165,200.0,4.0,2.0,NaN,1.0,Sukmajaya,SHM,2200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6-12-2021,50,45.0,2.0,1.0,NaN,NaN,Cipayung,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6-12-2021,50,36.0,2.0,1.0,NaN,1.0,Sawangan,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6-12-2021,50,45.0,2.0,1.0,NaN,NaN,Cimanggis,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6-12-2021,72,45.0,2.0,1.0,NaN,1.0,Sawangan,SHM,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
datadepok.info()

In [ ]:
datadepok.describe().T

###**2. DATA PREPROCESSING**

#####**Mengubah Variabel created_at menjadi index**

In [ ]:
datadepok = pd.read_csv('depok.csv', parse_dates = True, index_col = "created_at", low_memory = False)
datadepok

,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
created_at,,,,,,,,,,,,,,,,,,,,,
6-12-2021,165,200.0,4.0,2.0,NaN,1.0,Sukmajaya,SHM,2200.0,Selatan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6-12-2021,50,45.0,2.0,1.0,NaN,NaN,Cipayung,SHM,1300.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6-12-2021,50,36.0,2.0,1.0,NaN,1.0,Sawangan,SHM,1300.0,Barat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6-12-2021,50,45.0,2.0,1.0,NaN,NaN,Cimanggis,SHM,1300.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6-12-2021,72,45.0,2.0,1.0,NaN,1.0,Sawangan,SHM,1300.0,Timur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
datadepok.info()

<class 'pandas.core.frame.DataFrame'>
Index: 998 entries, 6-12-2021 to nan
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LT           120 non-null    object
 1   LB           118 non-null    float64
 2   KT           118 non-null    float64
 3   KM           118 non-null    float64
 4   garasi       25 non-null     float64
 5   carport      94 non-null     float64
 6   lokasi       118 non-null    object
 7   sertifikat   118 non-null    object
 8   listrik      103 non-null    float64
 9   hadap        62 non-null     object
 10  harga        118 non-null    float64
 11  URL          118 non-null    object
 12  deskripsi    118 non-null    object
 13  Unnamed: 14  0 non-null      float64
 14  Unnamed: 15  0 non-null      float64
 15  Unnamed: 16  0 non-null      float64
 16  Unnamed: 17  0 non-null      float64
 17  Unnamed: 18  0 non-null      float64
 18  Unnamed: 19  0 non-null      float64
 19  Unnamed: 20  0 non-null      float64
 20  Unnamed: 21  0 non-null      float64
 21  Unnamed: 22  0 non-null      float64
 22  Unnamed: 23  0 non-null      float64
 23  Unnamed: 24  0 non-null      float64
 24  Unnamed: 25  0 non-null      float64
dtypes: float64(19), object(6)
memory usage: 202.7+ KB

#####**Missing Value**

In [ ]:
datadepok.isnull().sum()

LT             878
LB             880
KT             880
KM             880
garasi         973
carport        904
lokasi         880
sertifikat     880
listrik        895
hadap          936
harga          880
URL            880
deskripsi      880
Unnamed: 14    998
Unnamed: 15    998
Unnamed: 16    998
Unnamed: 17    998
Unnamed: 18    998
Unnamed: 19    998
Unnamed: 20    998
Unnamed: 21    998
Unnamed: 22    998
Unnamed: 23    998
Unnamed: 24    998
Unnamed: 25    998
dtype: int64

Terdapat 3 missing value pada data yang diinput, yaitu untuk variabel **garasi**, **carport**, dan **hadap**.
Untuk variabel **garasi** dan **carport** yang mana seharusnya tercantum angka apapun dan pada data ini, variabel **garasi** dan **carport** terdefinisi sebagai NaN. Maka kedua variabel tersebut haruslah diganti dengan angka **nol** atau **0**.

Selanjutnya untuk variabel **hadap**, variabel tersebut juga terdapat data yang tidak tercantum angka apapun. Namun kami tidak akan mengubah missing value pada variabel **hadap** menjadi angka **nol** atau **0**. Hal ini dikarenakan terdapat kemungkinan untuk penjual rumah yang sengaja tidak menginput data atau lupa menginput data. Dan tidak mungkin pula sebuah rumah tidak memiliki arah atau hadap bangunannya, sehingga kami tidak akan mengubah apapun pada variabel **hadap**.

In [ ]:
datadepok["garasi"].fillna(0, inplace = True)
datadepok["sertifikat"].fillna(0, inplace = True)
datadepok["hadap"].fillna(0, inplace = True)

In [ ]:
datadepok.isnull().sum()

LT             878
LB             880
KT             880
KM             880
garasi           0
carport        904
lokasi         880
sertifikat       0
listrik        895
hadap            0
harga          880
URL            880
deskripsi      880
Unnamed: 14    998
Unnamed: 15    998
Unnamed: 16    998
Unnamed: 17    998
Unnamed: 18    998
Unnamed: 19    998
Unnamed: 20    998
Unnamed: 21    998
Unnamed: 22    998
Unnamed: 23    998
Unnamed: 24    998
Unnamed: 25    998
dtype: int64

Menghapus kolom yang tidak terpakai

In [ ]:
datadepok1 = datadepok.loc[:, ~datadepok.columns.str.contains('^Unnamed')]
datadepok1

,LT,LB,KT,KM,garasi,carport,lokasi,sertifikat,listrik,hadap,harga,URL,deskripsi
created_at,,,,,,,,,,,,,
6-12-2021,165,200.0,4.0,2.0,0.0,1.0,Sukmajaya,SHM,2200.0,Selatan,2100.0,https://www.rumah123.com/properti/depok/hos928...,Rumah siap huni komplek Pelni
6-12-2021,50,45.0,2.0,1.0,0.0,NaN,Cipayung,SHM,1300.0,0,250.0,https://www.rumah123.com/properti/depok/hos928...,rumah minimalis termurah di citayam
6-12-2021,50,36.0,2.0,1.0,0.0,1.0,Sawangan,SHM,1300.0,Barat,250.0,https://www.rumah123.com/properti/depok/hos928...,CLUSTER TERMURAH DI SAWANGAN KOTA DEPOK
6-12-2021,50,45.0,2.0,1.0,0.0,NaN,Cimanggis,SHM,1300.0,0,250.0,https://www.rumah123.com/properti/depok/hos928...,RUMAH SIAP HUNI HARGA NEGO DEKAT STASIUN CITAYAM
6-12-2021,72,45.0,2.0,1.0,0.0,1.0,Sawangan,SHM,1300.0,Timur,350.0,https://www.rumah123.com/properti/depok/hos928...,Rumah Cluster Siap Huni Depok
...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN